<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="userSentence" type="text" name="inputData" value=""
                    placeholder="Enter a sentence, and we'll detect the tone behind it, instantly!">
                <input type="submit" value="submit">
            </form>
        </section>
    </main>
</body>

</html>