<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="userSentence" type="text" name="inputData" value=""
                    placeholder="Enter a sentence, and we'll detect the tone behind it, instantly!">
                <input type="submit" value="submit">
            </form>
        </section>
        <section>
            <h2>Sentiment Analysis API Results</h2>
            <div>
                <h3>Your Text</h3>
                <p id="text"></p>
                <h3>Subjectivity</h3>
                <p id="subjectivity"></p>
                <h3>Confidence</h3>
                <p id="confidence"></p>
                <h3>Irony</h3>
                <p id="irony"></p>
            </div>
        </section>
    </main>
</body>

</html>